{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fitness Club - Landing Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
    <header>
        <h1>Добро пожаловать в фитнес-клуб "IRON MAN"</h1>
    </header>
    <main>
        <p>Это главная страница нашего фитнес-клуба.</p>
        <p>Здесь вы можете найти информацию о наших тренировках и фитнес-тренерах.</p>
    </main>
    <footer>
        <p>&copy; 2025 Фитнес клуб "IRON MAN"</p>
    </footer>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>
